<!DOCTYPE html>
<html lang="en">

<head>
    <title>Goling</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="GOLING (Go Healing)" />
    <meta name="keywords" content="goling team" />

    <!-- Icon -->
    <link rel="icon" href="./images/goling.ico" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />

    <!-- Symbols -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body class="aboutbody">
    <header>
        <div id="navbarId" class="navbar">
            <div class="headerInner">
                <h1 class="headerTitle">
                    Goling
                </h1>
                <ul class="navigationResponsive">
                    <li>
                        <button id="navigationDrawerId" class="navigationDrawer"
                            aria-label="Open navigation drawer">☰</button>
                    </li>
                </ul>
            </div>
            <nav id="navbarContainerId" class="navbarContainer">
                <ul class="navbarList">
                    <li class="navbarItem"><a href="./index.html">Home</a></li>
                    <li class="navbarItem"><a href="./index.html#destinations">Destination</a></li>
                    <li class="navbarItem"><a href="./index.html#contact">Contact</a></li>
                    <li class="navbarItem"><a href="./about.html">About Us</a></li>
                    <li class="navbarItem"><button id="myBooking">My Booking</button>
                </ul>
            </nav>
        </div>
        <div class="hero">
            <div class="heroContainer">
                <h1 class="heroTitle">Explore all of Indonesia and enjoy its beauty</h1>
                <p class="heroDescription">Find the tour you want here.</p>
            </div>
        </div>
    </header>

    <section class="about">
        <div class="main">
            <div class="abt-text">
                <p>Contact us if you have any questions and you can also follow us on our social media channels</p>
            </div>
        </div>
    </section>

    <section class="about-us" id="about-us">
        <div class="team">
            <div class="member">
                <div class="photo" id="photo1"></div>
                <p>Name :</p>
                <p>Firman Nur Budiman</p>
                <p>Email :</p>
                <p>firmannurbudiman25@gmail.com</p>
                <div class="footlinks">
                    <p>Social Media</p>
                    <div class="abt-social">
                        <a href="https://www.instagram.com/ffirmannb/" target="_blank"><i
                                class='bx bxl-instagram'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-github'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                    </div>
                </div>
            </div>
            <div class="member">
                <div class="photo" id="photo2"></div>
                <p>Name :</p>
                <p>Rizal Zulkipli</p>
                <p>Email :</p>
                <p>janeeeeeeeee1234@example.com</p>
                <div class="footlinks">
                    <p>Social Media</p>
                    <div class="abt-social">
                        <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-github'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                    </div>
                </div>
            </div>
            <div class="member">
                <div class="photo" id="photo3"></div>
                <p>Name :</p>
                <p>Alif Faturahman Firdaus</p>
                <p>Email :</p>
                <p>alif.faturahman2003@gmail.com</p>
                <div class="footlinks">
                    <p>Social Media</p>
                    <div class="abt-social">
                        <a href="https://www.instagram.com/liffaturahman" target="_blank"><i
                                class='bx bxl-instagram'></i></a>
                        <a href="https://www.linkedin.com/in/alif-faturahman-firdaus-150a482a3/" target="_blank"><i
                                class='bx bxl-linkedin'></i></a>
                        <a href="https://github.com/Aliffaturahman" target="_blank"><i class='bx bxl-github'></i></a>
                        <a href="https://www.facebook.com/aliffaturahman1204" target="_blank"><i
                                class='bx bxl-facebook'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="https://www.youtube.com/@aliffaturahmanfirdaus5250" target="_blank"><i
                                class='bx bxl-youtube'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <footer id="contact">
        <div class="foot">
            <div class="footer-content">
                <div class="footlinks">
                    <h4>Top Destination</h4>
                    <ul>
                        <li>Denpasar, Bali</li>
                        <li>Cimahi, Jawa Barat</li>
                        <li>Bandung, Jawa Barat</li>
                        <li>Medan, Sumatera</li>
                        <li>Jakarta Selatan, Jakarta</li>
                    </ul>
                </div>

                <div class="footlinks">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./index.html#destinations">Destination</a></li>
                        <li><a href="./index.html#contact">Contact</a></li>
                        <li><a href="./about.html">About Us</a></li>
                    </ul>
                </div>

                <div class="footlinks">
                    <h4>Contact</h4>
                    <ul>
                        <li class="contact-item">
                            <a href="#" class="contact-link">+62 111-222-333</a>
                        </li>
                        <li class="contact-item">
                            <a href="#" class="contact-link">goling@gmail.com</a>
                        </li>
                        <li class="contact-item">
                            <address>Bandung, Jawa Barat</address>
                        </li>
                    </ul>
                </div>

                <div class="footlinks">
                    <h4>Social Media</h4>
                    <div class="social">
                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="end">
            <p>GOLING © 2024 All Rights Reserved</p>
        </div>
    </footer>

</body>

</html>