<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Goling</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="GOLING (Go Healing)" />
    <meta name="keywords" content="goling team" />
    
    <!-- Icon -->
    <link rel="icon" href="./images/goling.ico" />
    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />    
  
    <!-- Symbols -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <style>
      </style>
</head>

  <body>
    <!-- Skip-Link -->
    <a href="#mainContent" class="skip-link">To the Content</a>

    <!-- Header -->
    <header>
      <div id="navbarId" class="navbar">
        <div class="headerInner">
          <h1 class="headerTitle">
            Goling
          </h1>
          <ul class="navigationResponsive">
            <li>
                <button id="navigationDrawerId" class="navigationDrawer" aria-label="Open navigation drawer">☰</button>
            </li>
          </ul>
        </div>
        <nav id="navbarContainerId" class="navbarContainer">
          <ul class="navbarList">
            <li class="navbarItem"><a href="./index.html">Home</a></li>
            <li class="navbarItem"><a href="./index.html#destinations">Destination</a></li>
            <li class="navbarItem"><a href="./index.html#contact">Contact</a></li>
            <li class="navbarItem"><a href="./about.html">About Us</a></li>
            <li class="navbarItem"><button id="myBooking">My Booking</button>  
          </ul>
        </nav>
      </div>
      <div class="hero">
        <div class="heroContainer">
          <h1 class="heroTitle">Explore all of Indonesia and enjoy its beauty</h1>
          <p class="heroDescription">Find the tour you want here.</p>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    
    <!-- Services -->
    <section class="container" id="mainContent">
        <div class="text">
            <h2>We have the best services available for you!</h2>
        </div>
        <div class="rowitems">
            <div class="container-box">
            <div class="container-image">
               <img src="../images/services1.jpg" alt="Save More Time">
            </div>
                <h4>Save More Time</h4>
                <p>Fast Website Service</p>
            </div>
        
            <div class="container-box">
            <div class="container-image">
               <img src="../images/services2.jpg" alt="Security">
            </div>
                <h4>Security</h4>
                <p>Your data is safe</p>
            </div>
    
            <div class="container-box">
            <div class="container-image">
                <img src="../images/services3.jpg" alt="Usability">
            </div>
                <h4>Usability</h4>
                <p>Easy to Use</p>
            </div>
    
            <div class="container-box">
            <div class="container-image">
                <img src="../images/services4.jpg" alt="Verified">
            </div>
                <h4>Verified</h4>
                <p>Trusted Website</p>
            </div>
    
        </div>
    
        </div>
    
    </section>
    
    <!-- Destinations -->
    
    <section class="destinations" id="destinations">
        <div class="destination-title">
            <h2>Destinations</h2>
        </div>
    
        <div class="destination-content">
            
        </div>
    </section>
    
    <!-- Newsletter -->
    <section class="newsletter">
        <img src="../images/goling-logo.png" alt="Tourly logo" style="width: 250px; height: auto;">
        
        <div class="newstext">
            <p class="section-subtitle">Call To Action</p>
            <h2 class="h2 section-title">Get ready for a great holiday!</h2>
            <p>Subscribe to get offers and latest<br>updates every week!</p>
        </div>
    
        <a href="./index.html#destinations" class="btn btn-secondary">Booking Now!</a>
    </section>

    <!-- Footer -->
    <footer id="contact">
    <div class="foot">
        <div class="footer-content">
            <div class="footlinks">
                <h4>Top Destination</h4>
                <ul>
                    <li>Denpasar, Bali</li>
                    <li>Cimahi, Jawa Barat</li>
                    <li>Bandung, Jawa Barat</li>
                    <li>Medan, Sumatera</li>
                    <li>Jakarta Selatan, Jakarta</li>
                </ul>
            </div>

            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./index.html#destinations">Destination</a></li>
                    <li><a href="./index.html#contact">Contact</a></li>
                    <li><a href="./about.html">About Us</a></li>
        </ul>
            </div>

            <div class="footlinks">
                <h4>Contact</h4>
                <ul>
                    <li class="contact-item">
                      <a href="#" class="contact-link">+62 111-222-333</a>
                    </li>
                    <li class="contact-item">
                      <a href="#" class="contact-link">goling@gmail.com</a>
                    </li>
                    <li class="contact-item">
                      <address>Bandung, Jawa Barat</address>
                    </li>
                  </ul>
            </div>

            <div class="footlinks">
                <h4>Social Media</h4>
                <div class="social">
                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-youtube' ></i></a>
                </div>
            </div> 
        </div>
    </div>

    <div class="end">
        <p>GOLING © 2024 All Rights Reserved</p>
    </div>
    </footer>
    <script>
        var apiUrl = '';
        if (window.location.hostname === 'localhost') {
          apiUrl = 'http://localhost:8001';
        } else {
          apiUrl = 'https://api.goling.site';
        }
        fetch(`${apiUrl}/destinations`)
          .then(response => response.json()) 
          .then(data => {
            data.forEach(destination => {
              const urlData = document.createElement('a');
              urlData.href = `details.html?id=${destination.id}`;
              const destinationCard = document.createElement('a'); 
              destinationCard.classList.add('col-content');
      
              destinationCard.innerHTML = `
                <img src="${destination.hero_image}" alt="${destination.name}" style="width: 331px; height: 500px; object-fit: none;">
                <h5>${destination.name}</h5>
              `;

              urlData.appendChild(destinationCard); // Menambahkan div col-content ke dalam a href

              document.querySelector('.destination-content').appendChild(urlData); // Menambahkan a href ke dalam destination-content
            });
          })
          .catch(error => console.error('Error fetching destinations:', error));
      </script>
      
  </body>
</html>
