.payment-container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-container h1{
    padding-bottom: 30px;
    background-color: #fff;
}