<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Goling</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Katalog Restaurant" />
    <meta name="keywords" content="Rifandani Resto" />
    
    <!-- Icon -->
    <link rel="icon" href="./images/heros/restaurant.ico" />
    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />    
  
    <!-- Symbols -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet"/>
  </head>

  <body>
    <!-- Skip-Link -->
    <a href="#mainContent" class="skip-link">To the Content</a>

    <!-- Header -->
    <header>
      <div id="navbarId" class="navbar">
        <div class="headerInner">
          <h1 class="headerTitle">
            Goling
          </h1>
          <ul class="navigationResponsive">
            <li><a id="navigationDrawerId" class="navigationDrawer" href="#">☰</a>
            </li>
          </ul>
        </div>
        <nav id="navbarContainerId" class="navbarContainer">
          <ul class="navbarList">
            <li class="navbarItem"><a href="index.html">Home</a></li>
            <li class="navbarItem"><a href="#mainContent">Destination</a></li>
            <li class="navbarItem"><a href="#about-us">About Us</a></li>
            <li class="navbarItem"><a href="#contact">Contact</a></li>
            <li class="navbarItem"><button>Add Destination</button>  

          </ul>
        </nav>
      </div>
      <div class="hero">
        <div class="heroContainer">
          <h1 class="heroTitle">Explore all of Indonesia and enjoy its beauty</h1>
          <p class="heroDescription">Find the tour you want here.</p>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    
    <!-- Services -->
    <section class="container">
        <div class="text">
            <h2>We have the best services available for you!</h2>
        </div>
        <div class="rowitems">
            <div class="container-box">
            <div class="container-image">
               <img src="./files/1a.jpg" alt="Flight Services">
            </div>
                <h4>Flight Services</h4>
                <p>Arrival and Departure</p>
            </div>
        
            <div class="container-box">
            <div class="container-image">
               <img src="./files/2a.jpg" alt="Food Services">
            </div>
                <h4>Food Services</h4>
                <p>Catering</p>
            </div>
    
            <div class="container-box">
            <div class="container-image">
                <img src="./files/3a.jpg" alt="Travel Services">
            </div>
                <h4>Travel Services</h4>
                <p>Pick-up/drop</p>
            </div>
    
            <div class="container-box">
            <div class="container-image">
                <img src="./files/4a.jpg" alt="Hotel Services">
            </div>
                <h4>Hotel Services</h4>
                <p>Check-in/out</p>
            </div>
    
        </div>
    
        </div>
    
    </section>
    
    <!-- Locations -->
    
    <section class="locations" id="locations">
        <div class="location-title">
            <h2>Locations</h2>
        </div>
    
        <div class="location-content">
            
            <a href="./locations.html#kashmir" target="_blank"><div class="col-content">
                <img src="./files/l1.jpg" alt="">
                <h5>India</h5>
                <p>Kashmir</p>
            </div></a>
    
            <a href="./locations.html#istanbul" target="_blank"><div class="col-content">
                <img src="./files/l2.jpg" alt="">
                <h5>Turkey</h5>
                <p>Istanbul</p>
            </div></a>
    
            <a href="./locations.html#paris" target="_blank"><div class="col-content">
                <img src="./files/l3.jpg" alt="">
                <h5>France</h5>
                <p>Paris</p>
            </div></a>
    
            <a href="./locations.html#bali" target="_blank"><div class="col-content">
                <img src="./files/l4.jpg" alt="">
                <h5>Indonesia</h5>
                <p>Bali</p>
            </div></a>
    
            <a href="./locations.html#dubai" target="_blank"><div class="col-content">
                <img src="./files/l5.jpg" alt="">
                <h5>United Arab Emirates</h5>
                <p>Dubai</p>
            </div></a>
    
            <a href="./locations.html#geneva" target="_blank"><div class="col-content">
                <img src="./files/l6.jpg" alt="">
                <h5>Switzerland</h5>
                <p>Geneva</p>
            </div></a>
    
            <a href="./locations.html#port-blair" target="_blank"><div class="col-content">
                <img src="./files/l7.jpg" alt="">
                <h5>Andaman & Nicobar</h5>
                <p>Port Blair</p>
            </div></a>
    
            <a href="./locations.html#rome" target="_blank"><div class="col-content">
                <img src="./files/l8.jpg" alt="">
                <h5>Italy</h5>
                <p>Rome</p>
            </div></a>
    
        </div>
    </section>
    
    <!-- Newsletter -->
    
    <section class="newsletter">
        <img src="./files/goling-logo.png" alt="Tourly logo" style="width: 250px; height: auto;">
        
        <div class="newstext">
            <p class="section-subtitle">Call To Action</p>
            <h2 class="h2 section-title">Get ready for a great holiday!</h2>
            <p>Subscribe to get offers and latest<br>updates every week!</p>
        </div>
    
        <button class="btn btn-secondary">Contact Us !</button>
    </section>
        
        <section class="about-us" id="about-us">
          <h2>About Us</h2>
          <div class="team">
              <div class="member">
                  <div class="photo" id="photo1"></div>
                  <p>Name: Firman Nur Budiman</p>
                  <p>Email: firmannurbudiman25@gmail.com</p>
                  <p>IG: @ffirmannb</p>
              </div>
              <div class="member">
                  <div class="photo" id="photo2"></div>
                  <p>Name: Rizal Zulkipli</p>
                  <p>Email: jane@example.com</p>
                  <p>IG: @janedoe</p>
              </div>
              <div class="member">
                  <div class="photo" id="photo3"></div>
                  <p>Name: Alif Faturahman Firdaus</p>
                  <p>Email: jim@example.com</p>
                  <p>IG: @jimdoe</p>
              </div>
          </div>
      </section>

    <!-- Footer -->
    <section class="footer">
    <div class="foot">
        <div class="footer-content">
            <div class="footlinks">
                <h4>Top Destination</h4>
                <ul>
                    <li>Denpasar, Bali</li>
                    <li>Cimahi, Jawa Barat</li>
                    <li>Bandung, Jawa Barat</li>
                    <li>Medan, Sumatera</li>
                    <li>Jakarta Selatan, Jakarta</li>
                </ul>
            </div>

            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="./register.html">Home</a></li>
                    <li><a href="./destination.html">Destination</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                    <li><a href="./about.html">About Us</a></li>
                </ul>
            </div>

            <div class="footlinks">
                <h4>Contact</h4>
                <ul>
                    <li class="contact-item">
                      <a href="#" class="contact-link">+62 111-222-333</a>
                    </li>
                    <li class="contact-item">
                      <a href="#" class="contact-link">goling@gmail.com</a>
                    </li>
                    <li class="contact-item">
                      <address>Bandung, Jawa Barat</address>
                    </li>
                  </ul>
            </div>

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-youtube' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div> 
        </div>
    </div>

    <div class="end">
        <p>GOLING © 2024 All Rights Reserved</p>
    </div>
</section>
  </body>
</html>
